body{
    background-color: black;
}

.main-content {
    text-align: center;
    width: max-content;
    height: max-content;
    margin: auto;
    background-color: rgb(250, 248, 248);
    
}

#main-game {
    padding: 1px;
    border: 1px stroke red;
}